$sidebar-header-bg: $main-color;
$sidebar-bg: $white;
$sidebar-sub-bg: $light;
$sidebar-size: 260px;
$sidebar-size-sm: 60px;
$sidebar-navbar-title-color: rgba($dark, .7);
$sidebar-navbar-link-color: rgba($dark, 1);
$sidebar-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
